/* base.css, part of YUI's CSS Foundation */
/*#doc .yui-cssbase h1 {
	font-size:138.5%;  
}
*/
p[lang=fr].foo > a {
	color:red;
	content:attr("class");
	something-else : rgb(120,120,120);
	background: rgba(200,200,200,0.7);
	background: #f00;
}
ancestor *.foo parent>older+younger { content:attr(id) " " attr(class); }