/*
Sample crash file from : 
http://yuilibrary.com/projects/yuicompressor/ticket/2009249
Also?:
http://yuilibrary.com/projects/yuicompressor/ticket/2527977
*/

/* --------------------------------------------------------------

link-icons.css
* Icons for links based on protocol or file type.

See the Readme file in this folder for additional instructions.

-------------------------------------------------------------- */

/* Use this class if a link gets an icon when it shouldn't. */
body a.noicon { background:none; padding:0; margin:0; }

/* Make sure the icons are not cut */
a[href^="http:"], a[href^="mailto:"], a[href^="http:"]:visited,
a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"],
a[href$=".rdf"], a[href^="aim:"] {
padding:2px 22px 2px 0;
margin:-2px 0;
background-repeat: no-repeat;
background-position: right center;
}

/* External links */